doctype html
html(lang="en")

  head
    title=__("page.places.title")
    include ./includes/head_md.jade

  body
    include ./includes/dialog_message.jade

    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
          div.mdl-layout__header-row
              span.mdl-layout-title=__("page.places.title")
          div.mdl-layout__tab-bar
            a(href="#scroll-stations").mdl-layout__tab.is-active=__("title.stations")
            a(href="#scroll-trains").mdl-layout__tab=__("title.trains")

      main.mdl-layout__content

        section(id="scroll-stations").mdl-layout__tab-panel.is-active.content
          div.page-content
            ul.mdl-list
              li.mdl-list__item.mdl-shadow--2dp.mdl-color--accent.mdl-color-text--white
                span.mdl-list__item-primary-content
                  i.material-icons.mdl-list__item-avatar.mdl-color--primary home
                  | #{__("item.all.stations")}
                span.mdl-list__item-secondary-action
                  button(data-type="station", data-to=__("item.all.stations"), data-id="all-station", data-peoples="60").mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--primary.show-dialog
                    i.material-icons message
              each station in places.stations
                li.mdl-list__item.mdl-shadow--2dp
                  span.mdl-list__item-primary-content
                    i.material-icons.mdl-list__item-avatar home
                    a(href="detail/stations/"+station.id)=station.name
                  span.mdl-list__item-secondary-action
                    button(data-type="station", data-to=station.name, data-id=station.id, data-peoples=60).mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.show-dialog
                      i.material-icons message

        section(id="scroll-trains").mdl-layout__tab-panel.content
            ul.mdl-list
              li.mdl-list__item.mdl-shadow--2dp.mdl-color--accent.mdl-color-text--white
                span.mdl-list__item-primary-content
                  i.material-icons.mdl-list__item-avatar.mdl-color--primary train
                  | #{__("item.all.trains")}
                span.mdl-list__item-secondary-action
                  button(data-type="train", data-to=__("item.all.trains"), data-id="all-train", data-peoples=60).mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--primary.show-dialog
                    i.material-icons message
              each train in places.trains
                li.mdl-list__item.mdl-list__item--two-line.mdl-shadow--2dp
                  span.mdl-list__item-primary-content
                    i.material-icons.mdl-list__item-avatar train
                    a(href="detail/train/"+train.id)=train.name
                    span.mdl-list__item-sub-title #{train.line} #{train.direction}
                  span.mdl-list__item-secondary-action
                    button(data-type="train", data-to=train.name, data-id=train.id, data-peoples=60).mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.show-dialog
                      i.material-icons message
